/* Inter 4.1 by Rasmus Andersson, SIL Open Font License (fonts/Inter-LICENSE.txt).
 * Self-hosted Latin subset of https://rsms.me/inter/font-files/InterVariable.woff2.
 * A single variable face supplies real weights and optical sizing throughout the UI.
 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(./fonts/inter-variable-latin.woff2) format('woff2');
}
